#hero{
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    padding-top: 100px;
    .content{
        margin-top: -100px;
        h1{
            color: $black-color;
            font-size: 50px;
        }
        p{
            color: $gray-color;
        }
        a span{
         color: $gray-color;   
        }
        .btn{
            background-color: $primary-color;
            padding: 15px 30px;
            color: $white-color;
        }
        
    }
}

#features{
    padding-bottom: 80px;
    .features-header{
        h2{
            color: $black-color ;
            margin-bottom: 40px;
        }
    }
    .content{
        .item{
            img{
                max-width: 100%;
            }
            .item-body{
                padding: 0px 20px 0 50px;
                p{
                    font-size: 14px;
                    color: $gray-color;
                }
                h3{
                    color: $black-color;
                }
            }
        }
    }
}

#develop{
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    .image{
        img{
            max-width: 100%;
        }
    }
    .content{
        color: $white-color;
        margin-top: 80px;
        a{
           background-color: $green-color;
           color: $white-color;
           padding: 15px 30px; 
        }
    }
}

#testimonials{
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    padding: 180px 0px;
    .testimonials-header{
        h2{
            font-size: 36px;
            color: $black-color;
            margin-bottom: 60px;
        }
    }
    .testimonials-content{
        background-color: $white-color;
        padding: 70px 60px;
        border-radius: 10px;
        color: $gray-color;
        position: relative;
        z-index: 0;
        box-shadow: 0 0 10px 5px #d6d6d6;
        .bg{
            width: 150px;
            position: absolute;
            top: 15px;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
        }
        .arrow{
            position: absolute;
            bottom: -15%;
            right: 10%;
            .left{
                width: 20px;
            }
            .right{
                width: 30px;
                padding-left: 5px;
            }
        }
    }
}