#hero{
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    padding-top: 100px;
    .content{
        margin-top: -100px;
        h1{
            color: $black-color;
            font-size: 50px;
        }
        p{
            color: $gray-color;
        }
        a span{
         color: $gray-color;   
        }
        .btn{
            background-color: $primary-color;
            padding: 15px 30px;
            color: $white-color;
        }
        
    }
}

#features{
    padding-bottom: 80px;
    .features-header{
        h2{
            color: $black-color ;
            margin-bottom: 40px;
        }
    }
    .content{
        .item{
            img{
                max-width: 100%;
            }
            .item-body{
                padding: 0px 20px 0 50px;
                p{
                    font-size: 14px;
                    color: $gray-color;
                }
                h3{
                    color: $black-color;
                }
            }
        }
    }
}