@media (max-width: 991.98px) {
  #hero {
    .content {
      padding-top: 100px;
      text-align: center;
    }
  }

  #features {
    .features-header {
      h2 {
        padding-top: 30px;
      }
    }
    .content {
      .row {
        justify-content: center;
      }
    }
  }

  .footer-header {
    .item {
      margin-bottom: 20px;
    }
    .mb {
      margin-bottom: 4rem;
      justify-content: center;
    }
  }
  .copyright{
      .text{
          display: none;
      }
  }
}

@media (max-width: 575.98px){
    #hero{
        .content{
            .btn{
                display: block;
            }
        }
        img{
            margin-top: 20px ;
        }
    }
    #develop{
        .content{
            margin-top: 30px !important;
        }
    }
    
    #testimonials{
        padding: 75px 0px !important;
    }

    .copyright{
        .sosial{
            a{
                margin-right: 1rem;
            }
        }
    }
}